
.patient-list{
  font-family: 'Pretendard';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 16px;
  position: absolute;
  width: 1080px;
  height: 825px;
  left: calc(50% - 1080px/2);
  top: 99px;
}

.waiting-box{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 8px;
  width: 1080px;
  height: 149px;
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 20px 1px rgba(196, 196, 196, 0.3);
  border-radius: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.waiting-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 118px;
  height: 69px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.waiting-info p{
  margin:0px;
  font-size:16px;
  color:#888
}

.waiting-title{
  margin:0px;
  font-size: 32px;
  font-style: bold;
}

.waiting-date{
  font-size:20px;
  font-style: medium;
  font-weight: 500;
}

.status-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1080px;
  height: 612px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

