p{
    font-size: 20px;
    font-style: medium;
    font-weight: 500;
}

.user-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    gap: 4px;
    width: 301.33px;
    height: 84px;
    border-bottom: 1px solid #DADADA;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.user-box{
    /* Frame 2612262 */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

margin: 0 auto;
width: 201px;
height: 52px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;
margin:0;

}

.user-info{
    /* Frame 2612261 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap:10px;

width: 162px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;

}

.user-appointment{
    margin:0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 168px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #A4A4A4;

}
.user-appointment p{
    margin:0;
}
.call-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    gap: 10px;
    margin: 0 auto;
    width: 64px;
    height: 40px;
    background: #E5FFF7;
    border: 1px solid #13D094;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color:black;
}